/* Escurece apenas o menu lateral esquerdo */
.md-sidebar--primary {
  background-color: #2d2d2d;
}

/* Garante que a página principal continue clara */
.md-main {
  background-color: #FBFDFC;
}

/* Cor do texto no menu lateral */
.md-nav__title, .md-nav__link {
  color: #ffffff !important;
}

/* Item ativo com destaque em amarelo DHL */
.md-nav__link--active {
  background-color: #444444;
  color: #ffcc00 !important;
}
